*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swa p');
/*  font-family: 'Barlow', sans-serif;  */

body{
     background-image: url('img/bkg.jpg');
     background-position: center center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     font-family: 'Barlow', sans-serif;
}

main{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    align-items: center;
    flex-direction: column;
}



/*----------------------LOGO---------------------*/
#logo{
      width: 100%;
      text-align: center;
      padding: 5px;
      margin: 10px 0px;
}

#logo img{
    width: 230px;
}


/*-------------------LINKS------------------*/
#links{
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

#links button{
    margin: 10px;
    padding: 15px;
    width: 30%;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 14px;
    background-image: linear-gradient(to bottom, #13F75C 20%, black);
    cursor: pointer;
    transition: all 500ms;
}

#links button:hover{
    background-image: linear-gradient(to bottom, #13F75C 50%, black);
    color: black;
    border: 1px solid transparent;
    transform: scale(1.01);
    box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.521);
    transition: all 500ms;
}



/*----------------FOOTER----------------*/
#footer{
      width: 100%;
      padding: 20px 20px 2px 0px;
      background-color: rgba(0, 0, 0, 0.637);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

#footer h1{
     color: #13F75C;
     font-size: 22px;
     margin-bottom: 15px;
}

#footer p{
    color: white;
    font-size: 14px;
    width: 40%;
    text-align: center;
}

#footer #txtFooter{
    margin-top: 15px;
    color: gray;
    font-size: 12px;
}













/*------------------------INFO PÁG -----------------------*/
#info{
     height: 100vh;
}



#info-menu{
    width: 100%;
    margin: 0px 0px 35px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.521);
    padding: 10px;
}

.active{
     padding: 2px 6px;
     border-left: 2px solid #13F75C;
     border-right: 2px solid #13F75C;
     border-radius: 5px;
}

#info-menu a{
    margin: 5px 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#info-menu a:hover{
    color: #13F75C;
    transition: all 500ms;
}


#info-conteudo{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

#logo-float{
      position: absolute;
      top: 0px;
      width: 70px;
      animation: logoGira 10s infinite normal;
}

@keyframes logoGira{
      0%{transform: rotate(0deg);}
      50%{transform: rotate(360deg);}
      100%{transform: rotate(0deg);}
}

#info-left{
     margin: 15px;
     width: 45%;
     height: 90%;
     padding: 10px;
     display: flex;
     justify-content: start;
     align-items: center;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.521);
     border-radius: 20px;
}

#info-left h1{
    color: white;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1px 20px;
    border-radius: 5px;
}

#info-left h1 span{
    color: #13F75C;
}




#info-left p{
    width: 80%;
    font-size: 19px;
    background-image: linear-gradient(to left, white, #13F75C);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}

#info-left button{
    color: #13F75C;
    border: 1px solid #13F75C;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.068);
    cursor: pointer;
    transition: all 400ms;
    margin-top: 15px;
}

#info-left button:hover{
    color: white;
    background-color: #13F75C;
    transition: all 700ms;
}








#info-right{
      margin: 15px;
      width: 45%;
      height: 90%;
      border-radius: 20px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.521);
}

#info-right img{
       width: 95%;
       border-radius: 10px;
}



/*----------------------INTEGRANTES-----------------------*/
#integrantes-conteudo{
     width: 100%;
     height: 460px;
     border: 1px solid red;
}








footer{
        color: gray;
        margin-top: 10px;
}







/*-------------------RESPONSIVO--------------------*/

@media (max-width:800px){
    #logo img{width: 230px;}
    #links button{padding: 15px;width: 75%; font-size: 15px;}
    #footer h1{font-size: 22px;}
    #footer p{font-size: 16px;width: 80%;}
    #footer #txtFooter{margin-bottom: 10px;font-size: 15px;}
    
   #info-menu{ margin: 0px; padding: 12px; position: fixed; bottom: 0px;}
   #info-menu a{margin: 3px 7px;font-size: 12px;}
   #info-conteudo{height: 650px; flex-direction: column; overflow: auto; border: 1px solid red; padding: 15px; margin-top: 70px;}  
   #info-left{width: 90%;height: 300px;}
   #info-left h1{margin-bottom: 15px;margin-top: 10px;font-size: 20px;}
   #info-left p{width: 80%;font-size: 13px;}
   #info-left button{padding: 7px 10px;}
   #info-right{margin: 10px;width: 90%;height: 240px;}
   #logo-float{display: none;}
   footer{margin-bottom: 20px; margin-top: 15px;}
}


